fastapi==0.95.2
uvicorn==0.22.0
psycopg2-binary==2.9.3
pyodbc==4.0.32
sqlalchemy
python-dotenv
numpy
pandas
torch
torchvision
insightface
onnxruntime
pillow
python-multipart
redis
opencv-python
pydantic
pika